In [7]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

import json # library to handle JSON files

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

import folium # map rendering library

import requests

!conda install -c conda-forge beautifulsoup4 --yes
from bs4 import BeautifulSoup

print('Libraries imported.')

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Libraries imported.

In [1]:
!conda install -c conda-forge geopy --yes
from geopy.geocoders import Nominatim

!conda install -c conda-forge folium=0.5.0 --yes
import folium

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [19]:
data = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(data, 'html.parser')

postalCodeList = []
boroughList = []
neighborhoodList = []

In [20]:
soup.find('table').find_all('tr')

# find all the rows of the table
soup.find('table').find_all('tr')

# for each row of the table, find all the table data
for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')

In [21]:
for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')
    if(len(cells) > 0):
        postalCodeList.append(cells[0].text.rstrip('\n'))
        boroughList.append(cells[1].text.rstrip('\n'))
        neighborhoodList.append(cells[2].text.rstrip('\n'))

### Question 2

In [23]:
tdf = pd.DataFrame({"PostalCode": postalCodeList,"Borough": boroughList,"Neighborhood": neighborhoodList})
tdf.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned
1        M2A      Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [24]:
tdf.shape

(180, 3)

In [30]:
# Drop not assigned value

tdf_drop = tdf[tdf.Borough != "Not assigned"].reset_index(drop=True)
tdf_group = tdf_drop.groupby(["PostalCode", "Borough"], as_index=False).agg(lambda x: ", ".join(x))

In [31]:
for index, row in tdf_grouped.iterrows():
    if row["Neighborhood"] == "Not assigned":
        row["Neighborhood"] = row["Borough"]
        

column_names = ["PostalCode", "Borough", "Neighborhood"]
test_df = pd.DataFrame(columns=column_names)

test_list = ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1B", "M5A"]

for postcode in test_list:
    test_df = test_df.append(tdf_group[tdf_group["PostalCode"]==postcode], ignore_index=True)

In [32]:
# get a new shape
tdf_grouped.shape

(103, 3)

In [35]:
# read geo csv 
geodf = pd.read_csv('https://cocl.us/Geospatial_data')
geodf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 3 columns):
Postal Code    103 non-null object
Latitude       103 non-null float64
Longitude      103 non-null float64
dtypes: float64(2), object(1)
memory usage: 2.5+ KB

In [37]:
geodf.head(10)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476
5         M1J  43.744734 -79.239476
6         M1K  43.727929 -79.262029
7         M1L  43.711112 -79.284577
8         M1M  43.716316 -79.239476
9         M1N  43.692657 -79.264848

In [39]:
# change the column name to merge toogether
geodf.rename(columns={"Postal Code": "PostalCode"}, inplace=True)
geodf.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [41]:
#merge

tdf_new = tdf_group.merge(geodf, on="PostalCode", how="left")
tdf_new.head(10)

  PostalCode      Borough                                     Neighborhood   Latitude  Longitude
0        M1B  Scarborough                                   Malvern, Rouge  43.806686 -79.194353
1        M1C  Scarborough           Rouge Hill, Port Union, Highland Creek  43.784535 -79.160497
2        M1E  Scarborough                Guildwood, Morningside, West Hill  43.763573 -79.188711
3        M1G  Scarborough                                           Woburn  43.770992 -79.216917
4        M1H  Scarborough                                        Cedarbrae  43.773136 -79.239476
5        M1J  Scarborough                              Scarborough Village  43.744734 -79.239476
6        M1K  Scarborough      Kennedy Park, Ionview, East Birchmount Park  43.727929 -79.262029
7        M1L  Scarborough                  Golden Mile, Clairlea, Oakridge  43.711112 -79.284577
8        M1M  Scarborough  Cliffside, Cliffcrest, Scarborough Village West  43.716316 -79.239476
9        M1N  Scarborough                      Birch Cliff, Cliffside West  43.692657 -79.264848

In [44]:
# as question 3 required

column_names = ["PostalCode", "Borough", "Neighborhood", "Latitude", "Longitude"]
add_df = pd.DataFrame(columns=column_names)

add_list = ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1B", "M5A"]

for postcode in add_list:
    add_df = add_df.append(tdf_new[tdf_new["PostalCode"]==postcode], ignore_index=True)
    
add_df.head(12)

# Done

   PostalCode           Borough                                       Neighborhood   Latitude  Longitude
0         M5G  Downtown Toronto                                 Central Bay Street  43.657952 -79.387383
1         M2H        North York                                  Hillcrest Village  43.803762 -79.363452
2         M4B         East York                    Parkview Hill, Woodbine Gardens  43.706397 -79.309937
3         M1J       Scarborough                                Scarborough Village  43.744734 -79.239476
4         M4G         East York                                            Leaside  43.709060 -79.363452
5         M4M      East Toronto                                    Studio District  43.659526 -79.340923
6         M1R       Scarborough                                  Wexford, Maryvale  43.750072 -79.295849
7         M9V         Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...  43.739416 -79.588437
8         M9L        North York                                      Humber Summit  43.756303 -79.565963
9         M5V  Downtown Toronto  CN Tower, King and Spadina, Railway Lands, Har...  43.628947 -79.394420
10        M1B       Scarborough                                     Malvern, Rouge  43.806686 -79.194353
11        M5A  Downtown Toronto                          Regent Park, Harbourfront  43.654260 -79.360636